/* Fuentes elegantes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Fondo elegante para la página */

body {
  background-image: linear-gradient(to bottom right, #e5b5d9, #b5e5d9, #d9b5e5);
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

/* Diseño centrado */
header, main {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* Títulos */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #333;
}

/* Productos */
.producto {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  padding: 10px;
  border: 2px solid #d9b5e5;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.producto:hover {
  border-color: #b5e5d9;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.producto img {
  max-width: 35%;
}

.producto h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.producto p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: #666;
}

.producto label {
  display: block;
  margin-top: 10px;
}

.producto input[type="number"] {
  width: 50px;
  margin-right: 5px;
  text-align: center;
}

.producto button {
  border: none;
  background-color: #d9b5e5;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px #b5e5d9;
}

.producto button:hover {
  background-color: #b5e5d9;
  text-shadow: 1px 1px #d9b5e5;
}
/* Botón realizar pedido */
button.realizar-pedido {
  background-color: #b5e5d9;
  text-shadow: 1px 1px #d9b5e5;
}

button.realizar-pedido:hover {
  background-color: #84c7b5;
  text-shadow: 1px 1px #d9b5e5;
}
